.header__contacts-description {
  display: none;

  flex-direction: column;
  margin-right: 57px;
  gap: 10px;
}

@media all and (min-width: 1614px) {
  .header__contacts-description {
    display: flex;
  }
}
