.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  height: 125px;
  background: rgba(0, 43, 69, 0.9);
  padding: 0 148px 0 152px;
  align-items: center;
}

@media all and (min-width: 900px) {
  .header {
  }
}
