.portfolio__button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #002b45;
}
.portfolio__button:hover {
  background: #e1e1e1;
  border: none;
}
