.portfolio__choice {
  display: flex;
  flex-direction: row;
  background: #001623;
  width: 287px;
  height: 80px;
  position: absolute;
  bottom: 35px;
  left: -197px;
  gap: 20px;
  padding-left: 23px;
  align-items: center;
}
